@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: #01E7C7;
  padding: 20px;
  &__logo {
    width: 80px;
  }
}

.btn {
  cursor:pointer;
  color:#ffffff;
  font-size:17px;
  padding:7px 15px;
  border: none;
  background: none;
  outline: none;
}
.btn:hover{
  border-bottom: 1px solid #f24437;
  font-weight: bold;
}




